# Main requirements for backend
fastapi 
uvicorn
python-dotenv

# for huggingface
# transformers
# torch
# protobuf
# sentencepiece

# for gendered terms replacement
spacy
# python -m spacy download en_core_web_sm

# for grammar checking
language_tool_python
ollama

# pip install -r requirements.txt
# uvicorn index:app --port 8080


# path of the model huggingface
# C:\Users\pangilinan\.cache\huggingface\hub

# for cpu
# pip install 'transformers[torch]'


# microsoft/Phi-3.5-mini-instruct
# meta-llama/Llama-3.2-1B-Instruct

